<launch>

  <arg name="vehicle_name"            default="H01"/>
  <arg name="enable_ground_truth"     default="false"/>

  <arg name="max_yawrate"             default="0.5"/>
  <arg name="max_forward_speed"       default="1.25"/>
  <arg name="lookahead_distance"      default="1.0"/>
  <arg name="yawrate_k0"              default="0.5"/>
  <arg name="yawrate_kd"              default="1.0"/>

  <arg name="path_topic"              default="scan_plan_node/path_out"/>
  <!--<arg name="path_topic"               default="path_stitched"/> -->

  <!-- <arg name="cmd_vel_topic"            default="controller0/cmd_vel"/> -->
  <arg name="cmd_vel_topic"           default="nav_vel"/>
  <!-- <arg name="cmd_vel_topic"            default="cmd_vel"/> -->

  <!-- Path follower -->
  <include file="$(find marble_guidance)/launch/common/path_follower.launch">

			<arg name="path_topic"          value="$(arg path_topic)"/>

      <arg name="vehicle_name"        value="$(arg vehicle_name)"/>
      <arg name="max_yawrate"         value="$(arg max_yawrate)" />
      <arg name="max_forward_speed"   value="$(arg max_forward_speed)" />
      <arg name="lookahead_distance"  value="$(arg lookahead_distance)" />
      <arg name="yawrate_k0"          value="$(arg yawrate_k0)" />
      <arg name="yawrate_kd"          value="$(arg yawrate_kd)" />

  </include>

  <!-- Trajectory follower -->
  <include file="$(find marble_guidance)/launch/common/trajectory_follower.launch">

    <arg name="vehicle_name" value="$(arg vehicle_name)"/>
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)"/>
    <arg name="max_yawrate"         value="$(arg max_yawrate)" />
    <arg name="max_forward_speed"   value="$(arg max_forward_speed)" />
    <arg name="lookahead_distance"  value="$(arg lookahead_distance)" />
    <arg name="yawrate_k0"          value="$(arg yawrate_k0)" />
    <arg name="yawrate_kd"          value="$(arg yawrate_kd)" />

  </include>

  <!-- Backup detection -->
  <!-- <include file="$(find marble_guidance)/launch/common/backup_detector.launch">

    <arg name="vehicle_name"     value="$(arg vehicle_name)"/>

  </include> -->

  <!-- Husky safety -->
  <include file="$(find marble_guidance)/launch/common/husky_safety.launch">
    <arg name="vehicle_name"     value="$(arg vehicle_name)"/>
  </include>

  <!-- Motion comand filter -->
  <include file="$(find marble_guidance)/launch/common/motion_command_filter.launch">
    <arg name="vehicle_name"     value="$(arg vehicle_name)"/>
    <arg name="cmd_vel_topic"    default="$(arg cmd_vel_topic)"/>
  </include>

</launch>
