<launch>

  <arg name="vehicle_name"     default="X1"/>

  <!-- Path follower -->
  <include file="$(find marble_guidance)/launch/common/path_follower.launch">
      <arg name="vehicle_name"     value="$(arg vehicle_name)"/>
  </include>

  <!-- Backup detection -->
  <include file="$(find marble_guidance)/launch/common/backup_detector.launch">
    <arg name="vehicle_name"     value="$(arg vehicle_name)"/>
  </include>

</launch>
