<launch>

  <arg name="vehicle_name" default="X1"/>
  <arg name="cmd_vel_topic" default="cmd_vel"/>
  <arg name="enable_husky_safety"     default="false"/>
  <arg name="max_yawrate"         default=".75" />
  <arg name="max_forward_speed"         default="1.0" />
  <arg name="yaw_error_k"         default="1.0" />

  <node name="motion_command_filter" type= "motion_command_filter_node" pkg="marble_guidance">

    <remap from="motion_command_filter/odometry"      to="odometry"/>
    <remap from="motion_command_filter/path_motion_cmd"   to="path_follower/motion_cmd"/>
    <remap from="motion_command_filter/traj_motion_cmd"   to="trajectory_follower/motion_cmd"/>
    <remap from="motion_command_filter/cmd_vel"           to="$(arg cmd_vel_topic)"/>
    <remap from="motion_command_filter/estop_cmd"         to="estop"/>
    <!-- <remap from="motion_command_filter/cmd_vel_stamped"   to="cmd_vel"/> -->
    <remap from="motion_command_filter/enable_backup"     to="enable_backup"/>
    <remap from="motion_command_filter/follow_traj"       to="follow_traj"/>
    <remap from="motion_command_filter/husky_safety"      to="husky_safety/safety_status"/>
    <remap from="motion_command_filter/beacon_drop_cmd"   to="deploy"/>

    <param name="vehicle_name"                    value="$(arg vehicle_name)"/>
    <param name="loop_rate"                       value="20.0"/>
    <param name="connection_failure_thresh"       value="1.0"/>

    <!-- Backup controller params -->
    <param name="yawrate_k0"                      value="0.5"/>
    <param name="yawrate_kd"                      value="1.0"/>
    <param name="max_yawrate"                     value="$(arg max_yawrate)"/>
    <param name="max_backward_speed"              value="0.5"/>
    <param name="backup_lookahead_dist"           value="0.75"/>
    <param name="yaw_error_k"                     value="$(arg yaw_error_k)"/>

    <!-- Motion filter parameters -->
    <param name="fwd_speed_lp_filter_const_up"      value=".75"/>
    <param name="fwd_speed_lp_filter_const_down"    value=".95"/>
    <param name="yaw_rate_lp_filter_const_up"      value=".75"/>
    <param name="yaw_rate_lp_filter_const_down"    value=".95"/>
    <param name="max_forward_speed"                value="$(arg max_forward_speed)"/>

    <!-- Safety params -->
    <param name="enable_husky_safety"             value="$(arg enable_husky_safety)"/>
    <param name="close_side_speed"                value="0.1"/>

    <param name="beacon_clear_motion_duration"    value="2.0"/>


  </node>

</launch>
