<launch>

  <arg name="vehicle_name"          default="X1"/>
  <arg name="max_yawrate"           default="0.5"/>
  <arg name="max_forward_speed"     default="1.0"/>
  <arg name="lookahead_distance"    default="1.5"/>
  <arg name="yawrate_k0"            default="1.5"/>
  <arg name="yawrate_kd"            default="1.0"/>

  <node name="path_follower" type= "path_follower_node" pkg="marble_guidance" output="screen">

    <remap from="path_follower/odometry"        to="odometry_map"/>
    <remap from="path_follower/path"            to="ma_goal_path"/>
    <remap from="path_follower/enable_backup"   to="enable_backup"/>

    <param name="vehicle_name"                    value="$(arg vehicle_name)"/>
    <param name="loop_rate"                       value="20.0"/>

    <param name="yawrate_k0"                      value="$(arg yawrate_k0)"/>
    <param name="yawrate_kd"                      value="$(arg yawrate_kd)"/>
    <param name="max_yawrate"                     value="$(arg max_yawrate)"/>
    <param name="max_forward_speed"               value="$(arg max_forward_speed)"/>
    <param name="turn_in_place_thresh"            value="1.5"/>
    <param name="turn_in_place_yawrate"           value="0.5"/>
    <param name="lookahead_distance_threshold"    value="$(arg lookahead_distance)"/>
    <param name="enable_debug"                    value="1"/>
    <param name="enable_speed_regulation"         value="true"/>

  </node>

</launch>
