<launch>

  <!-- Launch the octomap to laserscan node -->
  <!-- <include file="find"  -->

  <node name="backup_detector" type= "backup_detector_node" pkg="marble_guidance" output="screen">

    <remap from="backup_detector/laserscan"         to="octomap_laserscan"/>

    <param name="total_scan_points"                 value="100"/>
    <param name="min_turnaround_distance"           value="0.1"/>

  </node>

</launch>
